app-box-and-whiskers {
  display: block;
  width: 100%;
  height: 100%;
}

.chart-container {
  display: block;
  height: calc(100% - 50px);
  width: 100%;
}

.data-toggle-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;

  mat-checkbox {
    margin-right: 10px;

    .mat-checkbox-layout .mat-checkbox-label {
      line-height: 14px;
      font-size: 14px;
    }

    .mat-checkbox-inner-container {
      width: 14px;
      height: 14px;
    }
  }
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3, 3;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
