.menu-button {
  cursor: pointer;
}

.spacer {
  flex: 1;
}

.title {
  margin-left: 20px;
}

.benchmark-results-options {
  padding: 20px;
  width: 200px;
}

.benchmark-results-options mat-checkbox {
  display: block;
  margin-bottom: 8px;
}

mat-sidenav-container {
  height: calc(100% - 64px);
}

.results-list {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 100%;
}

.results-list mat-card {
  flex: 1;
  max-width: 800px;
  max-height: 600px;
  min-width: 400px;
  min-height: 400px;
  margin: 5px;
  padding: 0;
}
